* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 300 16px / 1.5em Montserrat, Arial, sans-serif;
    color: darkslategrey;
}

.row{
    width: 100vw;
}

h2 {
    font-family: Pacifico;
}

/* Links */

a {
    color: darkslategrey;
    text-decoration: none;
}

li > a:hover {
    opacity: 0.8;

}


/* Images */

img {
    max-width: 100%;
    height: auto;
}

/* Grid */

.container {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

/* Page Header */

.page-header {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    /* background:rgba(220,244,235,0.8); */
}

.page-header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -10px auto;
}

.brand,
h3 {
    font-family: Montserrat, sans-serif;
    color: white;

    font-size: 35px;
    font-weight: 600;

}

.main-h3 {
    transition: all 0.8s;
}

.main-h3:hover {
    transform: scale(1.2);
    text-shadow: 0 0 4px #0a0909;

}



/* Menu */

.menu-items {
    padding: 0;
    margin: 0;
    list-style: none;

}


.menu-items li {
    margin: 0 4px;
    display: inline-block;

}

.menu-items li a {
    display: inline-block;
    padding: 16px 25px;
    line-height: 1.5em;
    font-weight: 600;
    color: white;

}




/* Sections */

.baner {

    width: 100%;
    height: 100vh;
    margin: auto;
    background: url(../img/bg1.jpg)center, no-repeat;
    top: 0;
    display: table;
    background-size: cover;
}

.baner .section-header {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;

}

.content {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.content h2 {
    font-family: Pacifico, sans-serif;
    color: white;
    font-size: 5em;
    letter-spacing: 5px;
    text-shadow: 0 0 4px #0a0909;
    opacity: 0.82;


}

.content p {
    margin-top: 40px;
    padding: 29px;
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
    text-shadow: 0 0 4px #0a0909;
    opacity: 0.82;
}

/* BTN */

.btn {
    margin-top: 40px;
    max-width: 250px;
    margin: 70px auto;


}

.content .main-btn {
    font-family: Montserrat, sans-serif;
    border: 2px solid white;
    background: white;
    color: #8BD7BB;
    font-size: 35px;
    border-radius: 30px;
    margin: 10px;
    padding: 15px;
    text-shadow: 0 0 3px #0a0909;
    opacity: 0.82;
}



.btn {
    transition: transform 0.4s;

}

.btn:hover {

    transform: scale(1.15);

}




.section-header > .container {
    display: block;
    margin: 0 auto;
    color: brown;

}

.section-header > .container h2 {
    text-align: center;
    justify-content: center;
}

.about-section {
    background: rgba(26, 23, 23, 0.75);
    border-bottom: 3px solid black;
    border-top: 3px solid black;

}

.about-section > .container {
    min-height: 585px;


}

.about-section > .container h2, p{
    color:white;
}

article {
    width: 50%;

    letter-spacing: 2px;
}

article h2 {

    font-family: Montserrat, sans-serif;
    padding-top: 45px;
    font-size: 3em;
}

article p {
    padding: 90px 55px 0px 55px;
}


aside {
    width: 50%;

    text-align: center;
}



aside img {
    border: 1px solid black;
    box-shadow: 5px 5px 13px 0px rgba(0, 0, 0, 0.75);
}

.widget img {
    margin-top: 110px;
}

.widget h3 {
    font-size: 3em;
    padding: 45px;
    font-family: Montserrat;
    color: white;
}

.widget p {
    padding: 21px;
    font-family: Montserrat;
    color: black;
    font-size: 
}


/* Project Section*/

.projects-section {
    background-color: white;
    background-image: linear-gradient(90deg, rgba(220, 244, 235, 0.8) 50%, transparent 50%), linear-gradient(#8bd7bb 50%, rgba(211, 200, 76, 0.88) 50%);
    background-size: 50px 50px;
}

.projects-section > .container {
    min-height: 585px;

}





.shrink {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background: #8BD7BB;

    height: 70px;
    z-index: 1000;
    transition: all 1s;
}


.page-footer {
    height: 65px;
    background: #8BD7BB;
    width: 100%;
}

.page-footer > .container {
    justify-content: center;
    padding-top: 25px;
    
}

.page-footer p{
    color: black;
}

.contact-section {
    background: rgba(26, 23, 23, 0.75);
    border-bottom: 3px solid black;
border-top: 3px solid black;
}

.container-title {
    display: block;
    min-height: 400px;
    max-width: 1200px;
    margin: 0 auto;
}

.section-titlle {
    text-align: center;
    font-size: 45px;
    padding: 40px 0;
    color: #8BD7BB;
}

form {
    margin: 0 auto;
    width: 35%;
}

input,
textarea {
    padding: 10px;

    font-size: inherit;
    box-sizing: border-box;
}

input[type="text"],
[type="email"],
[id="subject"] {
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: 2px solid #8BD7BB;
    border-radius: 10px;
}

input[type="submit"] {
    width: 100%;
    font-family: Montserrat, sans-serif;
    border-radius: 20px;
    margin-bottom: 25px;
    font-size: 25px;
    color: #8BD7BB;
    background: white;



}

input[type="submit"]:hover {
    background: #8BD7BB;
    color: white;
    box-shadow: 4px 10px 42px -9px rgba(255, 255, 255, 1);
}

.right-col {
    width: 48.5%;
    /* border-right: 1.5px solid #0a0909;*/
}

.left-col {
    width: 48.5%;


   /* border-left: 1.5px solid #0a0909; */
}

.skill-box {
    width: 35%;
    height: 125px;
    background: none;
    margin: 100px auto;

}

.skill-box img {
    width: 150px;
}


/* Fonts */

.header-left, .header-right{
    padding-top: 50px;
    font-family: Montserrat, sans-serif;
    font-size: 3em;
}




@media (max-width: 880px) {

    .page-header > .container {
    padding: 0px 30px 0px;
    margin: -20px 5px;

    }

    nav {
        margin-top: 20px;
    }



    .about-section > .container {
        display: block;
    }
    article {
        width: 100%;
    }

    aside {
        width: 100%;
    }

}


@media (max-width: 750px){
    
    .page-header>.container{
        display: block;
    }    
    
.main-h3{
        padding-top: 20px;
    }
 .menu-items li a {
    display: inline-block;
    padding: 0px 17px;
     
    }
    
 .widget img {
    margin-top: 0;
    margin-bottom: 40px;
    }
      
 .shrink {
    position: fixed;
    width: 100%;
    padding: 20px 0;
    background: #8BD7BB;

    height: 100px;
  
}     
    .content h2 {
    
    font-size: 2.8em;
    letter-spacing: 4px;
    opacity: 0.82;
}
    
}